<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coco.treasure.dao.AssetRegMapper">

	<select id="getPeopleAssetItems" resultType="map" >
		select
		 a.code as peopleCode,
		 a.name as peopleName,
		 b.code as assetsTypeCod,
		 b.describle as assetsTypeDescrible
		from people a, assets_type b
		where b.type2 != '00'
		order by a.code, b.code
	</select>
	
	<insert id="insertAssetItems" parameterType="java.util.List">
		replace into asset_allocation(
			date,
			people_code,
			assets_type_code,
			value
		)values
	   <foreach collection="list" item="item" separator=",">
	        (
	          #{item.date},
	          #{item.peopleCode},
	          #{item.assetsTypeCode},
	          #{item.value}
	        )
	   </foreach>
	</insert>
	
	

</mapper>