<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coco.treasure.dao.AssetsAllocationMapper">

	<resultMap id="AssetsAllocationResultMap" type="com.coco.treasure.bean.AssetsAllocationBean">
		<result column="name" property="name" />
		<result column="value" property="value" />
		<result column="assetsTypeDes" property="assetsTypeDes" />
		<result column="date" property="date" />
	</resultMap>

	<select id="getAssetsAllocationGroupByPeople" resultMap="AssetsAllocationResultMap" >
		select 
			b.name, sum(value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where a.date = (select max(date) from asset_allocation)
		group by b.name
	</select>
	
	<!-- 个人的总资产及各类资产变化 -->
	<select id="getAssetsAllocationIncreaseGroupByPeople" resultMap="AssetsAllocationResultMap" >
		select 
			a.date, c.describle as assetsTypeDes , sum(a.value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where b.code = #{peopleCode}
		group by a.date,  c.describle
	<!-- union all
		select 
			a.date, '总资产' as assetsTypeDes , sum(a.value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where b.code = #{peopleCode}
		group by a.date -->	
	</select>
	
	<!-- 总资产变化及各类资产变化 -->
	<select id="getAssetsAllocationIncreaseGroupByPeopleForOverView" resultMap="AssetsAllocationResultMap" >
		select 
			a.date, c.describle as assetsTypeDes, sum(a.value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		group by a.date, c.describle
	<!-- union all
		select 
			a.date, '总资产' as assetsTypeDes, sum(a.value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		group by a.date -->	
	</select>
	
	<select id="getAssetsAllocationGroupByAssetsType" resultMap="AssetsAllocationResultMap" >
		select 
			b.name, c.describle as assetsTypeDes, sum(value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where a.date = (select max(date) from asset_allocation) 
		 and b.code = #{peopleCode}
		group by c.code, c.describle, b.name
	</select>
	
	<select id="getAssetsAllocationGroupByAssetsTypeForOverview" resultMap="AssetsAllocationResultMap" >
		select 
			c.describle as assetsTypeDes, sum(value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where a.date = (select max(date) from asset_allocation) 
		group by c.code, c.describle
	</select>
	
	

</mapper>