<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coco.treasure.dao.AssetsAllocationMapper">

	<resultMap id="AssetsAllocationResultMap" type="com.coco.treasure.bean.AssetsAllocationBean">
		<result column="name" property="name" />
		<result column="value" property="value" />
	</resultMap>

	<select id="getAssetsAllocationGroupByPeople" resultMap="AssetsAllocationResultMap" >
		select 
			b.name, sum(value) as value
		from asset_allocation a
		join people b on a.people_code = b.code
		join assets_type c on a.assets_type_code = c.code
		where a.date = (select max(date) from asset_allocation)
		group by b.name
	</select>

</mapper>